.container {
  padding: 0.5em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_title {
  font-size: xx-large !important;
  font-weight: bolder;
}

.menu {
  display: flex;
  list-style: none;
  gap: 0.5em;
}

.menu_element {
  border-left: 2px solid black;
  padding-left: 0.5em;
}

.start_menu_element {
  border-left: none !important;
}

.selected_menu_element {
  color: blue;
  text-decoration: underline;
}

p {
  text-align: inherit;
}

.calculator_section {
  display: flex;
  justify-content: space-between;
}

.calculator {
  border: 2px solid green;
  height: 200px;
  width: 80%;
}

.quote_section {
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
