body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: inherit;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.calc-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 40vw;
  height: 50vh;
  text-align: center;
}

.action {
  background-color: rgb(255, 145, 0);
  cursor: pointer;
}

.result {
  background-color: grey;
  color: white;
  text-align: right;
  padding-right: 15px;
  cursor: pointer;
}

.num {
  background-color: antiquewhite;
  cursor: pointer;
}
